/* .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 10px;
}

.left-column {
  background-color: aquamarine;
  grid-column: 1/2;
}

.right-column {
background-color: blueviolet;
grid-column: 2/3;
} */